.attitude-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-card-row .item-card {
  margin: 10px; /* Adjust the value as per your preference */
}


body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
